<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Hi, I'm Alison</title> 
</head>

<body> 
    <div class="header">
        <a href="#default" class="logo">Alison Kim</a>
        <div class="header-left">
          <a class="active" href="#default">About</a>
          <div class="vl"></div>
          <a href="/research">Research Interests</a>
          <div class="vl"></div>
          <a href="/publications">Publications</a>
        </div>
    </div>

    <h3>About</h3>
    <p>Hi, my name is <html lang="ko">서윤</html> /Alison (they/them). I am a senior at Swarthmore College thinking through technology on a technical and social level. I will be graduating this May with a special major in Computer Science and Educational Studies with a minor in Religion. 
    </p>
</body>

</html>