<!DOCTYPE html>
<html>
<head>
    <title>Hi, I'm Alison</title> 
</head>

<body> 
    <div class="header">
        <a href="#default" class="logo">Alison Kim</a>
        <div class="header-left">
          <a class="active" href="/about">About</a>
          <div class="vl"></div>
          <a href="/research">Research Interests</a>
          <div class="vl"></div>
          <a href="/publications">Publications</a>
        </div>
      </div>
    
    <h3>Research Interests</h3>
    <p>Coming soon!(hopefully) 
    </p>

</body>



</html>