<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Hi, I'm Alison</title> 
</head>

<body> 
    <div class="header">
        <a href="../index.html" class="logo">Alison Kim</a>
        <div class="header-left">
          <a href="../index.html">About</a>
          <div class="vl"></div>
          <a href="research.html">Research Interests</a>
          <div class="vl"></div>
          <a class="active" href="publications.html">Publications</a>
        </div>
      </div>
    
    <h3>Research Interests</h3>
    <p>Coming soon!(hopefully) 
    </p>

</body>



</html>